<app-header></app-header>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th><a class="btn btn-outline-success" routerLink="/verpackungForm"><i class="fa fa-plus-square"></i>Neue Verpackung anlegen!</a></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let verpackung of stateService.verpackungs" (click)="showVerpackungDetail(verpackung.id)">
        <td>{{ verpackung.name }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
