<app-header></app-header>
<form [formGroup]="materialForm" novalidate (ngSubmit)="onSubmit()" style="width: 50%">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Neues Material anlegen:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="a_name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fossiles" formControlName="fossiles">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Prozessenergie" formControlName="prozessenergie">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ProductionCO2" formControlName="productionCO2">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Bioco2prod" formControlName="bioco2prod">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="BioFuelCO2" formControlName="bioFuelCO2">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Dichte" formControlName="dichte">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Co2Verbrennung" formControlName="co2Verbrennung">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="BioCO2Verbrennung" formControlName="bioCO2Verbrennung">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Heizenergie" formControlName="heizenergie">
          </mat-form-field>
        </div>
      </div><div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Co2Recycling" formControlName="co2Recycling">
        </mat-form-field>
      </div>
    </div><div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="EnergieRecycling" formControlName="energieRecycling">
        </mat-form-field>
      </div>
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
