<form #form="ngForm" autocomplete="off"><!--(ngSubmit)="onSubmit(form)"-->
  <div class="form-group">
    <div class="row">
      <div class="col-xl-3">
        <label>Material</label>
        <select name="materialId" #footItemSelect #materialId="ngModel" [(ngModel)]="formData.materialId"
                class="form-control"
                [class.is-invalid]="footItemSelect.selectedIndex==0">
          <option value='0'>-Select-</option>
          <option *ngFor="let item of materials" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-xl-3">
        <label>Verarbeitung</label>
        <select name="verarbeitungId" #footItemSelect #verarbeitungId="ngModel" [(ngModel)]="formData.verarbeitungId"
                class="form-control"
                [class.is-invalid]="footItemSelect.selectedIndex==0">
          <option value='0'>-Select-</option>
          <option *ngFor="let item of verarbeitungs" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-xl-3">
        <label>Recyclingverfahren</label>
        <div class="input-group">
        <select name="recyclingverfahrenId" #footItemSelect #recyclingverfahrenId="ngModel"
                [(ngModel)]="formData.recyclingverfahrenId" class="form-control"
                [class.is-invalid]="footItemSelect.selectedIndex==0">
          <option value='0'>-Select-</option>
          <option *ngFor="let item of recyclingverfahrens" value="{{item.id}}">{{item.name}}</option>
        </select>
        </div>
      </div>
      <div class="col-xl-3">
        <div>
        <button type="button" class="btn btn-primary" style="position: absolute; left: 0; bottom: 0;">Hinzufügen</button>
      </div>
      </div>
    </div>
  </div>
</form>

