<app-header></app-header>

  <form [formGroup]="verpackungForm" (ngSubmit)="onSubmit()" class="card col-md-6">
    <div class="card-body ">
    <div class="form-group">
      <div class="form-row">
          <div class="form-group col-md-6">
          <label>Name</label>
          <input id="name" type="text" formControlName="name" class="form-control" >
          </div>
        <div class="form-group col-md-6">
          <label>Beschreibung</label>
          <input id="beschreibung" type="text" formControlName="beschreibung" class="form-control" >
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    </div>
    </div>
  </form>


<div class="card">
  <div class="card-body">
    <table class="table table-bordered table-striped">

      <thead class="thead-dark">
      <tr>
        <td colspan="10">Eingabe für eine Verpackungseinheit</td>
        <td colspan="3">Energieaufwand nach Materialen und Recycling</td>
        <td colspan="1">Energieaufwand Verarbeitung</td>
        <td colspan="2">Verbrennung mit Energienutzung</td>
        <td colspan="1">CO<sub>2</sub>-Gutschrift aus Verbrennung</td>
        <td colspan="1">Bio</td>
        <td colspan="2">Transport Einzelmaterialie</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <th scope="col">Material</th>
        <th scope="col">Materialmenge [g]</th>
        <th scope="col">Fläche [cm<sup>2</sup>]</th>
        <th scope="col">Dicke [&micro;m]</th>
        <th scope="col">Verarbeitung</th>
        <th scope="col">Energierueckgewinnung</th>
        <th scope="col">Recycling-Methode</th>
        <th scope="col">Recycling-Quote</th>
        <th scope="col">Transport Strecke [km]</th>
        <th scope="col">Transportmittel</th>
        <th scope="col">Fossile Masse [g}</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">Energie [kJ]</th>
        <th scope="col">Verarbeitung [kJ]</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">Energie [kJ]</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">Energie [kJ]</th>

        <th><a class="btn btn-sm btn-info text-white" (click)="addOrEditMaterialverwendung()"><i
          class="fa fa-pencil"></i></a></th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let materialverwendung of materialverwendungs">
        <td>{{ materialverwendung.material }}</td>
        <td>{{ materialverwendung.menge }}</td>
        <td>{{ materialverwendung.flaeche }}</td>
        <td>{{ materialverwendung.dicke }}</td>
        <td>{{ materialverwendung.verarbeitung }}</td>
        <td>{{ materialverwendung.energierueckgewinnung }}</td>
        <td>{{ materialverwendung.recyclingverfahren }}</td>
        <td>{{ materialverwendung.recyclingQuote }}</td>
        <td>{{ materialverwendung.transportstrecke }}</td>
        <td>{{ materialverwendung.transportmittel }}</td>

        <td>{{ materialverwendung.fossileMasse }}</td>
        <td>{{ materialverwendung.materialCO2Eq }}</td>
        <td>{{ materialverwendung.materialEnergie }}</td>
        <td>{{ materialverwendung.energieAufwandVerarbeitung }}</td>
        <td>{{ materialverwendung.verbrennungENutzCo2Eq }}</td>
        <td>{{ materialverwendung.verbrennungENutzEnergie }}</td>
        <td>{{ materialverwendung.gutschriftVerbrennungCo2Eq }}</td>
        <td>{{ materialverwendung.gutschriftBioCo2Eq }}</td>
        <td>{{ materialverwendung.transportCo2Eq }}</td>
        <td>{{ materialverwendung.transportEnergie }}</td>

        <td>
          <button type="button" class="btn btn-danger" (click)="deleteMaterialverwendung(materialverwendung.id)">Delete</button>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #callMatVerwDialog>

  <form [formGroup]="materialverwendungsForm">
    <div class="form-group">
    <div class="form-row">
      <div class="form-group col-xl-2">
        <label>Material</label>
        <select id="materialId" #footItemSelect formControlName="materialId" class="form-control">
          <option *ngFor="let item of materials" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-xl-2">
        <label>Materialmenge [g]</label>
        <input type="text" matInput formControlName="menge" class="form-control">
      </div>
      <div class="form-group col-xl-2">
        <label>Fläche [cm<sup>2</sup>]</label>
        <input type="text" matInput formControlName="flaeche" class="form-control">
      </div>
      <div class="form-group col-xl-2">
        <label>Dicke [&micro;m]</label>
        <input type="text" matInput formControlName="dicke" class="form-control">
      </div>
      <div class="form-group col-xl-2">
        <label>Verarbeitung</label>
        <select id="verarbeitungId" #footItemSelect formControlName="verarbeitungId" class="form-control">
          <option *ngFor="let item of verarbeitungs" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
    </div>
      <div class="form-row">
        <div class="form-group col-xl-2">
          <label>Recyclingquote [%]</label>
          <input type="text" matInput formControlName="recyclingQuote" class="form-control">
        </div>
      <div class="form-group col-xl-2">
        <label>Energierueckgewinnung</label>
        <select id="energierueckgewinnungId" #footItemSelect formControlName="energierueckgewinnungId" class="form-control">
          <option *ngFor="let item of energierueckgewinnungs" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-xl-2">
        <label>Recyclingverfahren</label>
        <select id="recyclingverfahrenId" #footItemSelect formControlName="recyclingverfahrenId" class="form-control">
          <option *ngFor="let item of recyclingverfahrens" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-xl-2">
        <label>Transport Strecke [km]</label>
        <input type="text" matInput formControlName="transportstrecke" class="form-control">
      </div>
      <div class="form-group col-xl-2">
        <label>Transportmittel</label>
        <select id="transportmittelId" #footItemSelect formControlName="transportmittelId" class="form-control">
          <option *ngFor="let item of transportmittels" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-xl-2">
        <div>
          <button type="button" class="btn btn-primary" style="position: absolute; left: 0; bottom: 0;" (click)="saveMaterialverwendung()">Hinzufügen</button>
        </div>

      </div>
    </div>
    </div>
  </form>
  <div >
    <button type="button" style="float: right;" class="btn btn-outline-dark m-lg-1" [mat-dialog-close]><i class="fa fa-window-close"></i> Close</button>
  </div>
</ng-template>
