<app-header></app-header>
<div class="card hintergrund">

  <div class="card-body ">
    <form [formGroup]="verpackungForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Name</label>
            <input id="name" type="text" formControlName="name" class="form-control" required>
          </div>
          <div class="form-group col-md-6">
            <label>Funktionelle Einheit und Beschreibung</label>
            <textarea id="beschreibung" type="text" formControlName="beschreibung" class="form-control" required></textarea>
          </div>
          <div class="form-group col-md-4" style="width: 100%; align-content: baseline" ><img src="assets/logo.png" width="150" height="180" style="float: right"></div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark" [disabled]="verpackungForm.invalid"><i class="fa fa-database"></i> Submit</button>
      </div>
    </form>


    <table class="table" >
      <thead class="thead">

      <tr class="d-flex">
        <th class="col-1">Umweltwirkung Gesamtverpackung</th>
        <th class="col-1">CO<sub>2</sub>-equiv. [g]</th>
        <th class="col-1">Energie [kJ]</th>
      </tr>
      </thead>
      <tr class="d-flex">
        <td class="col-1">Material:</td>
        <td class="col-1">{{materialCO2Aufwand.toFixed(2)}} </td>
        <td class="col-1">{{materialAufwandEnergie.toFixed(2)}} </td>
      </tr>
      <tr class="d-flex">
        <td class="col-1">Cradle to Gate:</td>
        <td class="col-1">{{cradleToGate.toFixed(2)}} </td>
        <td class="col-1">{{cradleToGateEnergie.toFixed(2)}} </td>
      </tr>
      <tr class="d-flex">
        <td class="col-1">Cradle to Grave:</td>
        <td class="col-1">{{cradleToGrave.toFixed(2)}} </td>
        <td class="col-1">{{cradleToGraveEnergie.toFixed(2)}} </td>
      </tr>
      <tr class="d-flex">
        <td class="col-1">Cradle to Grave mit CO<sub>2</sub>-Gutschrift:</td>
        <td class="col-1">{{cradleToGraveCO2Gutschrift.toFixed(2)}} </td>
        <td class="col-1">{{cradleToGraveGutschriftEnergie.toFixed(2)}} </td>
      </tr>
      <tr class="d-flex">
        <td class="col-1">Cradle to Grave mit fossilem CO<sub>2</sub> und Bio-CO<sub>2</sub> und Gutschriften:</td>
        <td class="col-1">{{cradleToGraveBioCo2Gutschrift.toFixed(2)}} </td>
        <td class="col-1"></td>
      </tr>
      <tr class="d-flex">
        <td class="col-1">Gesamtes indirektes CO<sub>2</sub> für Biofuel:</td>
        <td class="col-1">{{gesamtIndirektCo2Biofuel.toFixed(2)}} </td>
        <td class="col-1"></td>
      </tr>
    </table>


  </div>


  <div class="card-body" id="mVerwList" hidden>
    <table class="table table-bordered table-striped">

      <thead class="thead">
      <tr>
        <td colspan="10">Eingaben für die Verpackungskomponenten</td>
        <td colspan="2">Aufwand Materialien</td>
        <td colspan="2">Aufwand Verarbeitung</td>
        <td colspan="2">Verbrennung mit Energienutzung</td>
        <td colspan="1">CO<sub>2</sub>-Gutschrift<br>aus Verbrennung</td>
        <td colspan="1">Indirektes CO<sub>2</sub>-<br>für Biofuel</td>
        <td colspan="1">Gesamt Bio-CO<sub>2</sub></td>
        <td colspan="2">Transport Einzelmaterialien</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <th scope="col">Material</th>
        <th scope="col">Material-<br>menge [g]</th>
        <th scope="col">Fläche [cm<sup>2</sup>]</th>
        <th scope="col">Dicke [&micro;m] /<br> Flächen-<br>gewicht [g/m<sup>2</sup>]</th>
        <th scope="col">Verarbeitung</th>
        <th scope="col">Entsorgung</th>
        <th scope="col">Recycling-<br>Methode</th>
        <th scope="col">Recycling-<br>Quote [%}</th>
        <th scope="col">Transport [km]</th>
        <th scope="col">Transport-<br>mittel</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">Energie [kJ]</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">Energie [kJ]</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">Energie [kJ]</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">Bio CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">CO<sub>2</sub>-eq. [g]</th>
        <th scope="col">Energie [kJ]</th>

        <th><a class="btn btn-sm btn-info text-white" (click)="addOrEditMaterialverwendung()"><i
          class="fa fa-pencil"></i></a></th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let materialverwendung of materialverwendungs">
        <td>{{ materialverwendung.material }}</td>
        <td>{{ materialverwendung.menge }}</td>
        <td>{{ materialverwendung.flaeche }}</td>
        <td>{{ materialverwendung.dicke }}</td>
        <td>{{ materialverwendung.verarbeitung }}</td>
        <td>{{ materialverwendung.energierueckgewinnung }}</td>
        <td>{{ materialverwendung.recyclingverfahren }}</td>
        <td>{{ materialverwendung.recyclingQuote }}</td>
        <td>{{ materialverwendung.transportstrecke }}</td>
        <td>{{ materialverwendung.transportmittel }}</td>


        <td class="berechnet">{{ materialverwendung.materialCO2Eq.toFixed(2) }}</td>
        <td class="berechnet">{{ materialverwendung.materialEnergie.toFixed(2) }}</td>
        <td class="berechnet">{{ materialverwendung.co2AufwandVerarbeitung.toFixed(2) }}</td>
        <td class="berechnet">{{ materialverwendung.energieAufwandVerarbeitung.toFixed(2) }}</td>
        <td class="berechnet">{{ materialverwendung.verbrennungCo2Eq.toFixed(2) }}</td>
        <td class="berechnet">{{ materialverwendung.verbrennungENutzEnergie.toFixed(2) }}</td>
        <td class="berechnet">{{ materialverwendung.gutschriftVerbrennungCo2Eq.toFixed(2) }}</td>
        <td class="berechnet">{{ materialverwendung.indirectco2Biofuel.toFixed(2) }}</td>
        <td class="berechnet">{{ (materialverwendung.herstellungBioCo2Eq + materialverwendung.verbrennungBioCo2Eq).toFixed(2) }}</td>
        <td class="berechnet">{{ materialverwendung.transportCo2Eq.toFixed(2) }}</td>
        <td class="berechnet">{{ materialverwendung.transportEnergie.toFixed(2) }}</td>

        <td>
          <button type="button" class="btn btn-danger" (click)="deleteMaterialverwendung(materialverwendung.id)">
            Delete
          </button>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #callMatVerwDialog>

  <form [formGroup]="materialverwendungsForm">
    <div class="form-group">
      <div class="form-row">
        <div class="form-group col-xl-2">
          <label>Material</label>
          <select id="materialId" #footItemSelect formControlName="materialId" class="form-control">
            <option *ngFor="let item of stateService.materials" value="{{item.id}}">{{item.name | slice:5}}</option>
          </select>
        </div>
        <div class="form-group col-xl-2">
          <label>Materialmenge [g]</label>
          <input type="text" (input)="disableFlaecheDicke()" formControlName="menge" class="form-control">
        </div>
        <div class="form-group col-xl-2">
          <label>Fläche [cm<sup>2</sup>]</label>
          <input id="flaeche" (input)="disableMenge()" type="text" formControlName="flaeche" class="form-control">
        </div>
        <div class="form-group col-xl-2">
          <label>Dicke [&micro;m] / Flächengewicht</label>
          <input type="text" (input)="disableMenge()" formControlName="dicke" class="form-control">
        </div>
        <div class="form-group col-xl-2">
          <label>Verarbeitung</label>
          <select id="verarbeitungId" #footItemSelect formControlName="verarbeitungId" class="form-control">
            <option *ngFor="let item of verarbeitungs" value="{{item.id}}">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-xl-2">
          <label>Recyclingquote [%]</label>
          <input type="text" formControlName="recyclingQuote" class="form-control" min="0" max="100">
        </div>
        <div class="form-group col-xl-2">
          <label>Entsorgung</label>
          <select id="energierueckgewinnungId" #footItemSelect formControlName="energierueckgewinnungId"
                  class="form-control">
            <option *ngFor="let item of energierueckgewinnungs" value="{{item.id}}">{{item.name}}</option>
          </select>
        </div>
        <div class="form-group col-xl-2">
          <label>Recyclingverfahren</label>
          <select id="recyclingverfahrenId" #footItemSelect formControlName="recyclingverfahrenId" class="form-control">
            <option *ngFor="let item of recyclingverfahrens" value="{{item.id}}">{{item.name}}</option>
          </select>
        </div>
        <div class="form-group col-xl-2">
          <label>Transport [km]</label>
          <input type="text" formControlName="transportstrecke" class="form-control">
        </div>
        <div class="form-group col-xl-2">
          <label>Transportmittel</label>
          <select id="transportmittelId" #footItemSelect formControlName="transportmittelId" class="form-control">
            <option *ngFor="let item of transportmittels" value="{{item.id}}">{{item.name}}</option>
          </select>
        </div>
        <div class="form-group col-xl-2">
          <div>
            <button type="button" class="btn btn-primary" style="position: absolute; left: 0; bottom: 0;"
                    (click)="saveMaterialverwendung()">Hinzufügen
            </button>
          </div>

        </div>
      </div>
    </div>
  </form>
  <div>
    <button type="button" style="float: right;" class="btn btn-outline-dark m-lg-1" [mat-dialog-close]><i
      class="fa fa-window-close"></i> Close
    </button>
  </div>
</ng-template>
